/** TODO this can be cleaned up, LESSified, and minimized **/

/* Pad for navbars */
body {
    padding-top: 55px;
    padding-bottom: 75px;
}

/* just commit to showing the scroll on the right.  otherwise looks funny when
   navbar is resized horizonally when vertical scroll appears */
html {
    overflow-y: scroll;
}

/* anchor tags should use pointer like buttons */
a {
    cursor: pointer;
}

/** this allows us to display nothing until angular has applied changes to the dom
    without this we see what the dom wants to display first, and then get an update
    within milliseconds once angular is finished. -- it's the "funny flicker effect"
 **/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/** **
supports grid feature
**/

/******** Grid Global ********/

.ngPagerControl .ngPagerButton {
    /** pagination buttons are pushed down 10px... fix that here... **/
    margin-top: 0px;

    /** and a little space in between  **/
    margin-left: 2px;
    margin-right: 2px;
}

.loadingSpinner {
    height: 450px;
    text-align: center;
    padding-top: 150px;
}
.nglabel {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}

.ngNoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** better position ngGrid cell contents**/
.ngCell div {
    margin-top: 5px;
    margin-left: 5px;
}

/******** Grid ********/

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    /* width: none !important; */
    height: 420px;
}

.ngGrid {
    background-color: rgb(253, 253, 253);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Aligning text area in grid*/
div .alignDiv{
	margin-left: -5px;
  }
/*This css is applied to align dynamic textarea used for add new option*/
.alignDynamicTextarea {
	display: inline ;
}
/******** Header ********/

.ngGroupPanel {
    background-color: rgb(234, 234, 234);
    overflow: hidden;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.ngGroupPanelDescription {
    margin-top: 5px;
    margin-left: 5px;
}

.ngGroupList {
    list-style-type: none;
}

/***
   modal / login / password
**/


.textboxingrid {
  display: block;
  width: 90%;
  height: 35px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #666666;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.glyphicon-red {
    color: red;
}
textarea {
	resize: none;
}

.help-block-custom {
    display: block !important;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #FF0000;
}

.custom-info-block {
    display: block !important;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #3a87ad;
}    

.infoiconimg {
     height: 15px; width: 15px; overflow: hidden;
     margin-top: -4px; 	     
}  
  
.adjustPaddingRight {
      padding-right: 5px;
}

.modal-body {
    display: block;
    margin: 0 auto;

    width: 80%;
}

.modal-section {
    display: block;
    width: 95%;
    margin-bottom: 1em;
}

#password {
    display: inline;
    float: left;
    max-width: 69%;
    min-width: 63px;

}
/* TO Disable the display of scrollbar in modal*/
.modal-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: auto;
}



