<style>
  .form-row {
	padding-bottom: .5em;
  }
  
  .css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
  }
  
  .css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
  }
  
  .gridStyle {
    border: 1px solid rgb(212,212,212);
    
    height: 300px
  }
  
</style>

<div class="container fade-in">
  
  <div class="form-row">
    <h2>
      Mailbox Definition
    </h2>
    <hr>
  </div>
  
  <form name="formAddMbx" novalidate="" >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">
            Name
          </label>

            <input type="text" class="form-control" id="name" ng-model="mailBox.name" required="" name="name"
                   ng-pattern="userInputPattern" ng-minLength=5 ng-maxLength=80 />
            <div ng-show="formAddMbx.name.$dirty && formAddMbx.name.$invalid">
                <span class="help-block-custom" ng-show="formAddMbx.name.$error.pattern"><strong>Invalid Mailbox Name.</strong></span>
                <span class="help-block-custom" ng-show="formAddMbx.name.$error.required"><strong>Mailbox Name is mandatory.</strong></span>
                 <span class="help-block-custom" ng-show="formAddMbx.name.$error.minlength"><strong>Mailbox Name cannot be
              shorter than {{minimumLength}} characters.</strong></span>
		        <span class="help-block-custom" ng-show="formAddMbx.name.$error.maxlength"><strong>Mailbox Name cannot be
              longer than {{maximumLengthAllowedInTextBox}} characters.</strong></span>
            </div>


        </div>
        
        
        <div class="form-group">
          <label for="status">
            Status
          </label>
          
          <select class="form-control" ng-model="status" id="status" ng-options="e.name for e in enumstats">
          </select>
        </div>
        
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="key">
            Shard key
          </label>

            <input class="form-control" type="text" id="key" ng-model="mailBox.shardKey" name="key" ng-pattern="userInputPattern"
                   ng-minLength=5 ng-maxLength=80 />
            <div ng-show="formAddMbx.key.$dirty && formAddMbx.key.$invalid">
                <span class="help-block-custom" ng-show="formAddMbx.key.$error.pattern"><strong>Invalid Shard Key.</strong></span>
            <span class="help-block-custom" ng-show="formAddMbx.key.$error.minlength"><strong>Shard Key cannot be shorter than
                {{minimumLength}} characters.</strong></span>
		    <span class="help-block-custom" ng-show="formAddMbx.key.$error.maxlength"><strong>Shard Key cannot be longer than
                {{maximumLengthAllowedInTextBox}} characters.</strong></span>
            </div>
          
          
        </div>


          <div class="form-group">
              <label for="description">
                  Description
              </label>

              <textarea class="form-control" ng-model="mailBox.description" id="description" rows="2" name="description"
                        ng-pattern="userInputDescriptionPattern" ng-maxLength=1024>          </textarea>
              <div ng-show="formAddMbx.description.$dirty && formAddMbx.description.$invalid">
                  <span class="help-block-custom" ng-show="formAddMbx.description.$error.pattern"><strong>Invalid Description.</strong></span>
          		  <span class="help-block-custom" ng-show="formAddMbx.description.$error.maxlength"><strong>Description cannot be longer than
                {{maximumLengthAllowedInMailBoxDescription}} characters.</strong></span>
              </div>
              <br>
          </div>
      </div>
    </div>
    
	<div class="form-group">
    <div>
      <div class="gridStyle" ng-grid="gridOptionsForMailbox">
      </div>
      <br>
   </div>
  </div>
    
  </form>
  
  <div>
    <button class="btn btn-primary" ng-click="doCancel()">
      Cancel
    </button>
    <button class="btn btn-primary" ng-click="saveMailbox()" ng-disabled="formAddMbx.$invalid">
      Save
    </button>
    <button class="btn btn-primary" ng-click="addProcessor()" ng-disabled="formAddMbx.$invalid">
      Add Processors
    </button>
  </div></div>