<div class="container fade-in">

	<div class="form-row">
		<h3 id="title" class="ng-binding">MailBox Profiles</h3>
		<hr />
		<br />
	</div>

	<div class="form-inline">

		<div class="form-row">
			<h4>Search Mailbox</h4>

		</div>

		<div class="row">
			<div class="col-md-6">
				<label for="name"> Name </label> <input type="text" id="name" ng-model="mailBoxName" ng-trim="false"
					class="form-control">
			</div>
			<div class="col-md-6">
				<label for="prof"> Profiles </label> <select id="prof" ng-model="profile"
					ng-options="prof.name for prof in profiles" ng-change="search()" class="form-control">
					<option value="">-- select--</option>
				</select>
				<progress ng-show=showprogressbar> </progress>
			</div>
		</div>
	</div>
	<br />


	<div class="modal" id="myModal" modal="deleteKey">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">
						<i class="glyphicon glyphicon-remove-sign" ng-click="closeDelete()"></i>
					</button>
					<h4 class="modal-title">Deactivate</h4>
				</div>
				<div class="modal-body">Do you really want to deactivate {{key.name}}?</div>
				<div class="modal-footer">
					<button id="deleteModalDeleteButton" class="btn btn-primary" ng-click="deactivateMailBox()">Deactivate</button>
					<button id="deleteModalCancelButton" class="btn btn-primary cancel" ng-click="closeDelete()">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="messageModal" modal="customKey">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">
						<i class="glyphicon glyphicon-remove-sign" ng-click="closeMessage()"></i>
					</button>
					<h4 class="modal-title">Info</h4>
				</div>
				<div class="modal-body">{{message}}</div>
				<div class="modal-footer">
					<button id="deleteModalCancelButton" class="btn btn-primary cancel" ng-click="closeMessage()">Okay</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="gridStyle" ng-grid="gridOptions"></div>
		<br>
	</div>
	<div class="container">
		<button id="addNew" class="btn btn-primary" ng-click="goto('/mailbox/addMailBox')">add new</button>
	</div>
</div>


