<style>
    .form-row {
        padding-bottom: .5em;
    }
    .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }
    .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
    }
    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        height: 300px;
        width: 1130px;
    }
    .gridStyleFolder {
        border: 1px solid rgb(212, 212, 212);	
        height: 300px;
        width: 1130px;
    }
    .gridStyleCredentials {
        border: 1px solid rgb(212, 212, 212);
        height: 300px;
        width: 1130px;
    }
    .gridStyleProcessors {
        border: 1px solid rgb(212, 212, 212);
        height: 250px;
        width: 1130px;
    }
    .right {
        position: absolute;
        top: 10px;
        right: 0px;
        width: 30px;
    }
    .ace_editor {
        height: 200px;
    }
    .multipleSelectionListButton {
        margin-left: 8px;
    }
    .multipleSelectionListBoundary {
        margin-left: 3px;
        margin-right: 3px;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin-top: 5px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    /*This class is included to align browse button close to text area in processor details*/
    .adjustPaddingRight {
        padding-right: 5px;
		
    }
    /*This class is included to align browse button close to text area in processor details*/
    .removePaddingLeft {
        padding-left: 0px;
    }
    /*This class is added to align the button glyphicon-plus-sign in gridOptionsForProcessor grid*/
 	div .alignButton {
		margin-left: 15px;
	}		
</style>

<div class="container fade-in">

    <div class="form-row">
        <h2 id="mbx-procsr-mailboxName">
      Processors of Mailbox {{mailboxName}}
    </h2>

        <div class="gridStyleProcessors" ng-grid="gridOptionsForProcessorList">

        </div>
        <br/>

        <button id="mbx-procsr-addNew" class="btn btn-primary" data-toggle="modal" data-target="#addNewModal">
            Add New
        </button>
        
        <div class="modal" id="addNewModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button id="mbx-procsr-addNewmodal-confirm" type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title">Confirmation</h4>
					</button>
				</div>
                <div class="modal-body">
                    Are you  sure you want to cancel the Operation? All unsaved changes will be lost.</div>
				<div class="modal-footer">
					<button id="mbx-procsr-modal-addNew" class="btn btn-primary" data-dismiss="modal" ng-click="addNew()">Confirm</button>
					<button id="mbx-procsr-modal-cancel" class="btn btn-primary cancel" data-dismiss="modal" ng-click="closeDelete()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
        
        <form name="formAddPrcsr" novalidate="">

            <br>

            <h3>
        Processors Details
      </h3>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>
                            Name *
                        </label>
                        <input id="mbx-procsr-name" type="text" ng-model="processor.name" required name="name" ng-pattern="userInputPattern" ng-minLength=5 ng-maxLength=80 class="form-control" />
                        <div ng-show="formAddPrcsr.name.$dirty && formAddPrcsr.name.$invalid">
                            <span id="mbx-procsr-nameInvalid-pattern" class="help-block-custom" ng-show="formAddPrcsr.name.$error.pattern">Invalid Processor Name.</span>
                            <span id="mbx-procsr-nameInvalid-required" class="help-block-custom" ng-show="formAddPrcsr.name.$error.required">Processor Name is mandatory.</span>
                            <span id="mbx-procsr-nameInvalid-minlength" class="custom-info-block" ng-show="formAddPrcsr.name.$error.minlength">
                            <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Processor Name cannot be shorter than {{minimumLength}} characters.</span>
                            <span id="mbx-procsr-nameInvalid-maxlength" class="custom-info-block" ng-show="formAddPrcsr.name.$error.maxlength">
                             <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Processor Name cannot be longer than {{maximumLengthAllowedInTextBox}} characters.</span>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>
                            Description
                        </label>
                        <textarea id="mbx-procsr-description" width="40px" height="20px" rows="2" ng-model="processor.description" name="description" ng-pattern="userInputDescriptionPattern" ng-maxLength=512 class="form-control"></textarea>
                        <div class="help-block-custom" ng-show="formAddPrcsr.description.$dirty && formAddPrcsr.description.$invalid">
                            <span id="mbx-procsr-descriptionInvalid-pattern" ng-show="formAddPrcsr.description.$error.pattern">Invalid Description</span>
                            <span id="mbx-procsr-descriptionInvalid-maxlength" class="custom-info-block" ng-show="formAddPrcsr.description.$error.maxlength">
                             <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Description cannot be longer than {{maximumLengthAllowedInProcessorDescription}} characters.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>
                            Status
                        </label>
                        <select id="mbx-procsr-status" ng-model="status" ng-options="e.name for e in enumstats" class="form-control">
                        </select>

                    </div>
                </div>

				<div class="col-sm-6 col-md-6" >
					<label>Add script url</label>
					<div ng-switch on="isGitUrlSelected">
						<div ng-switch-when="1">
							<div class="col-sm-5 col-md-5 removePaddingLeft">
								<small><label>{{constructedGitUrl}}</label></small>
								
							</div>
							<div class="col-sm-7 col-md-7 adjustPaddingRight">
								<input id="mbx-procsr-scriptFilePath" type="text" ng-model="modal.uri" class="form-control">
							</div>
						</div>
						<div ng-switch-when="0">
							<div class="col-sm-11 col-md-10 removePaddingLeft">
								<input id="mbx-procsr-scriptFilePath" type="text" ng-model="modal.uri" class="form-control"/>
								
							</div>
							<div class="col-sm-1 col-md-1 adjustPaddingRight">
								<a id="mbx-procsr-scriptbrowse" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal" class="btn btn-primary">Browse</a> 
							</div>
						</div>
					</div>
					<br><br>
								<input id="mbx-procsr-git" type="radio" ng-change="onScriptTypeSelected()" ng-model="isGitUrlSelected"  value="1">  git url </input>
								<input id="mbx-procsr-filePath" type="radio" ng-change="onScriptTypeSelected()" ng-model="isGitUrlSelected" value="0">  file path url </input>
								</br></br>
				</div>
							
			</div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
						<br>
                        <label>
                            Type
                        </label>

                        <select id="mbx-procsr-type" ng-disabled="isEdit" ng-change="resetProcessorType(procsrType)" ng-model="procsrType" ng-options="type.name for type in enumprocsrtype | orderBy:'name'" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
						<br>
                        <label>
                            Protocol
                        </label>
                        <select id="mbx-procsr-type-protocol" ng-disabled="isEdit || isProcessorTypeSweeper" ng-change="resetProtocol(processor)" ng-model="processor.protocol" ng-options="protocol for protocol in enumprotocoltype" class="form-control">
                        </select>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="mbx-procsr-closeFile" type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title">Choose your file</h4>
                        </div>
                        <div class="modal-body">
                            <div id="mbx-procsr-modal-roleList" data-angular-treeview="true" data-tree-model="modal.roleList" data-node-id="roleName" data-node-label="roleId" data-node-children="children">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="mbx-procsr-modal-choose" type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.uri=currentNode.roleName">Choose</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Certificate Path -->
            <!-- <div class="modal fade" id="myCertificateModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">Choose your file</h4>
                    </div>
                    <div class="modal-body">
                        <div data-angular-treeview="true" data-tree-model="certificateModal.certificates" data-node-id="roleName" data-node-label="roleId" data-node-children="children">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="certificateModal.certificateURI=currentNode.roleName">choose</button>
                    </div>
                </div>
            </div>
        </div>  -->

            <div class="form-group">
                <div>
                    <h4>Properties</h4>

                    <div class="gridStyle" ng-grid="gridOptionsForProcessor">
                    </div>
                </div>
                <br>
            </div>

            <div class="modal fade" id="valueModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="mbx-procsr-properties-closeFile" type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title">Edit Value</h4>
                        </div>
                        <div class="modal-body">
                            <div ui-ace="{onLoad : loadValueData,
				  theme : 'chaos',
				  useWrapMode : true,
				  showGutter: true,
				  mode: 'json'
				}">
                            </div>
                            <div class="modal-footer">
                                <button id="mbx-procsr-properties-close" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <h4>Folders</h4>
                    <div class="gridStyleFolder" ng-grid="gridOptionsForProcessorFolder">
                    </div>
                </div>
                <br>
            </div>

            <div class="form-group">

                <div>
                    <h4>Credentials</h4>
                    <div class="row">
                        <div class="col-sm-5 col-md-5 adjustPaddingRight">
                            <label>
                                Certificate
                            </label>
                            <input id="mbx-procsr-certificatePath" type="text" ng-model="certificateModal.certificateURI" class="form-control" ng-disabled="true">
                        </div>
                        <div class="col-md-2 removePaddingLeft">
                            <br>
                            <div class="fileUpload btn btn-primary" ng-disabled="disableBrowseButton">
                                <span>Add</span>
                                <input id="mbx-procsr-certificatebrowse" ng-disabled="disableBrowseButton" type="file" class="upload" ng-model-instant ng-click="resetFiles()" onchange="angular.element(this).scope().setFiles(this)" /> 
						    </div>
							<button id="mbx-procsr-certificateRemove" ng-disabled="disableBrowseButton" class="btn btn-primary" style="margin-top:5px" ng-click="doRemove()">Remove</button>
                        </div>
                        <div class="col-sm-5 col-md-5">
                            <div class="form-group">
                                <label>
                                    Add certificate to global trust store?
                                </label>
                                <br/>
                                <input id="mbx-procsr-signed" type="radio" ng-disabled="!isFileSelected" ng-model="processor.isSelfSigned" value="1">  Yes
                               
                                <input id="mbx-procsr-unsigned" type="radio" ng-disabled="!isFileSelected" ng-model="processor.isSelfSigned" value="0" style="margin-left:5px">  No

                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="gridStyleCredentials" ng-grid="gridOptionsForProcessorCredential">
                    </div>
                </div>
                <br>
            </div>
            <h3>
                Scheduling
            </h3>

            <div class="row well multipleSelectionListBoundary">
                <div class="col-sm-6 col-md-6">
                    <label>
                        <i>
                        all available schedules
                        </i>
                    </label>
                    <select id="mbx-procsr-availableSchedule" multiple="multiple" ng-model="profilesSelectedinAllProfile" ng-options="profile.name for profile in allProfiles" class="form-control">
                    </select>
                </div>
                <div class="col-md-1">
                    <div>
                        <br>
                        <button id="mbx-procsr-chooseProfile" class="btn btn-primary multipleSelectionListButton" ng-click="chooseProfile()">
                            &gt;&gt;
                        </button>
                    </div>
                    <div>
                        <br>
                        <button id="mbx-procsr-removeProfile" class="btn btn-primary multipleSelectionListButton" ng-click="removeProfile()">
                            &lt;&lt;
                        </button>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                    <label>
                        <i>
                        linked schedules
                        </i>
                    </label>
                    <select id="mbx-procsr-linkedSchedules"  multiple="multiple" ng-model="profilesSelectedinProcessorProfile" ng-options="selected.name for selected in selectedProfiles" class="form-control">
                    </select>
                </div>

            </div>
        </form>
        <div>
            <button id="mbx-procsr-backtoMailbox" class="btn btn-primary" data-toggle="modal" data-target="#backToMailboxAction">
                Back to Mailbox
            </button>
            <button id="mbx-procsr-save" class="btn btn-primary" ng-click="save()" ng-disabled="formAddPrcsr.$invalid">
                Save
            </button>
            <button id="mbx-procsr-cancel" class="btn btn-primary" data-toggle="modal" data-target="#cancelAction">
                Cancel
            </button>
        </div>
    </div>
</div>
<!-- Model for Cancel Action -->
<div class="modal" id="cancelAction" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						<h4 class="modal-title">Confirmation</h4>
				</button>
			</div>
			<div class="modal-body">
				Are you  sure you want to cancel the Operation? All unsaved changes will be lost.</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" ng-click="doCancel()">Confirm</button>
				<button class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- Model for BackToMailboxAction Action -->
<div class="modal" id="backToMailboxAction" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						<h4 class="modal-title">Confirmation</h4>
				</button>
			</div>
			<div class="modal-body">
				Are you  sure you want to leave this page? All unsaved changes will be lost.</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" ng-click="backToMailbox()">Confirm</button>
				<button class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>