<div class="container fade-in">

    <div class="form-row">
        <h3 id="title" class="ng-binding">Search Processor</h3>
        <hr/>
    </div>
    <form name="formSearchPrcsr" novalidate="">

        <div class="row search-form-bottom">
            <div class="col-md-4">
                <label for="prcsrguid"> Processor Id </label>
                <input id="prcsrguid" type="text" ng-model="prcsrGuid"
                       class="form-control"
                       name="prcsrguid"/>
            </div>
            <div class="col-md-4">
                <label for="mailboxguid"> Mailbox Id </label>
                <input id="mailboxguid" type="text" ng-model="mailboxId"
                       class="form-control"
                       name="mailboxguid"/>
            </div>
            <div class="col-md-4">
                <label for="pipeLine"> Pipeline Id </label>
                <input id="pipeLine" type="text" ng-model="PrcsrPipelineId"
                       class="form-control"
                       name="pipeline"/>
            </div>
        </div>
        <div class="row search-form-bottom">
            <div class="col-md-3">
                <label for="procname"> Processor Name </label>
                <input id="procname" type="text" ng-model="procName"
                       placeholder="Processor Name"
                       typeahead="proc.name for proc in getProcessorNames($viewValue) | filter:$viewValue"
                       class="form-control"
                       name="procname"
                       typeahead-min-length="typeaheadMinLength"/>
                <div ng-show="formSearchPrcsr.procname.$dirty && formSearchPrcsr.procname.$invalid">
                    <span id="prcsr-search-nameInvalid-pattern" class="customHide"
                          ng-class="{ 'help-block-custom' : formSearchPrcsr.procname.$error.pattern}"
                          ng-show="formSearchPrcsr.procname.$error.pattern">Invalid Processor Name.</span>
                    <span id="prcsr-search-nameInvalid-minlength" class="customHide"
                          ng-class="{ 'custom-info-block' : formSearchPrcsr.procname.$error.minlength}"
                          ng-show="formSearchPrcsr.procname.$error.minlength">
                        <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{minimumLength}} characters to enable search.</span>
                    <span id="prcsr-search-nameInvalid-maxlength" class="customHide"
                          ng-class="{ 'custom-info-block' : formSearchPrcsr.procname.$error.maxlength}"
                          ng-show="formSearchPrcsr.procname.$error.maxlength">
                        <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Processor Name cannot be longer than {{typeaheadMaxLength}} characters.</span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="processortype"> Processor Type </label>
                <select id="processortype" ng-model="processorType" ng-change="resetProcessorType(processorType)"
                        ng-options="type.key group by type.type for type in initialProcessorData.supportedProcessors.options | orderBy:'key'"
                        class="form-control textPattern_width_1">
                    <option value="">-- select--</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="protocol"> Protocol </label>
                <select id="protocol" ng-model="protocolName"
                        ng-disabled="isProcessorTypeSweeper || isProcessorTypeHTTPListener || isProcessorTypeFileWriter || isProcessorTypeDropbox"
                        ng-options="protocol.key for protocol in initialProcessorData.supportedProtocols.options"
                        class="form-control textPattern_width_1">
                    <option value="">-- select--</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="folderpath"> Folder Path </label>
                <input id="folderpath" type="text" ng-model="folderPath" ng-pattern="folderPathPattern"
                       class="form-control"
                       name="folderpath"/>
                <div ng-show="formSearchPrcsr.folderpath.$dirty && formSearchPrcsr.folderpath.$invalid">
                    <span id="prcsr-search-folderPathInvalid-pattern" class="customHide"
                          ng-class="{ 'help-block-custom' : formSearchPrcsr.folderpath.$error.pattern}"
                          ng-show="formSearchPrcsr.folderpath.$error.pattern">Invalid folder path.</span>
                </div>
            </div>
        </div>
        <div class="row search-form-bottom">
            <div class="col-md-3">
                <label for="mbxname"> Mailbox Name </label>
                <input id="mbxname" type="text" ng-model="mailBoxName"
                       placeholder="Mailbox Name"
                       typeahead="mbx.name for mbx in getMailboxNames($viewValue) | filter:$viewValue"
                       class="form-control"
                       name="mbxname"
                       typeahead-min-length="typeaheadMinLength"/>
                <div ng-show="formSearchPrcsr.mbxname.$dirty && formSearchPrcsr.mbxname.$invalid">
                    <span id="prcsr-search-mbxNameInvalid-pattern" class="customHide"
                          ng-class="{ 'help-block-custom' : formSearchPrcsr.mbxname.$error.pattern}"
                          ng-show="formSearchPrcsr.mbxname.$error.pattern">Invalid MailBox Name.</span>
                    <span id="prcsr-search-mbxNameInvalid-minlength" class="customHide"
                          ng-class="{ 'custom-info-block' : formSearchPrcsr.mbxname.$error.minlength}"
                          ng-show="formSearchPrcsr.mbxname.$error.minlength">
                        <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{minimumLength}} characters to enable search.</span>
                    <span id="mbx-search-mbxNameInvalid-maxlength" class="customHide"
                          ng-class="{ 'custom-info-block' : formSearchPrcsr.mbxname.$error.maxlength}"
                          ng-show="formSearchPrcsr.mbxname.$error.maxlength">
                        <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Mailbox Name cannot be longer than {{typeaheadMaxLength}} characters.</span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="profilename"> Profile </label>
                <input id="profilename" type="text" ng-model="profileName"
                       placeholder="Profile"
                       required typeahead="prof.name for prof in getProfileNames($viewValue) | filter:$viewValue"
                       class="form-control"
                       name="profilename"
                       typeahead-min-length="typeaheadMinLength"/>
                <div ng-show="formSearchPrcsr.profilename.$dirty && formSearchPrcsr.profilename.$invalid">
                    <span id="prcsr-search-profileNameInvalid-pattern" class="customHide"
                          ng-class="{ 'help-block-custom' : formSearchPrcsr.profilename.$error.pattern}"
                          ng-show="formSearchPrcsr.profilename.$error.pattern">Invalid Profile Name.</span>
                    <span id="prcsr-search-profileNameInvalid-minlength" class="customHide"
                          ng-class="{ 'custom-info-block' : formSearchPrcsr.profilename.$error.minlength}"
                          ng-show="formSearchPrcsr.profilename.$error.minlength">
                        <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{typeaheadMinLength}} characters to enable search.</span>
                    <span id="prcsr-search-profileNameInvalid-maxlength" class="customHide"
                          ng-class="{ 'custom-info-block' : formSearchPrcsr.profilename.$error.maxlength}"
                          ng-show="formSearchPrcsr.profilename.$error.maxlength">
                        <span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Mailbox Name cannot be longer than {{typeaheadMaxLength}} characters.</span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="scriptname"> Script Name </label>
                <input id="scriptname" type="text" ng-model="scriptName"
                       class="form-control"
                       name="scriptname"/>
            </div>
            <div class="col-md-3">
                <label for="clusterType">
                    Cluster Type
                </label>
                <select id="clusterType" ng-model="clusterType" class="form-control textPattern_width_1"
                        ng-options="clusterType for clusterType in javaProperties.clusterTypes">
                    <option value="">-- select--</option>
                </select>
            </div>
        </div>
        <div class="row search-form-bottom">
            <div class="col-md-3 pull-right search-padding-left">
                <label for="filterSearch">&nbsp;</label>
                <br/>
                <button id="filterSearch" class="btn btn-primary button_width_2" data-toggle="modal"
                        ng-click="readAllProcessors()">
                    Search
                </button>
                <label for="filterReset">&nbsp;</label>
                <button id="filterReset" class="btn btn-primary button_width_2" data-toggle="modal"
                        ng-click="clearAllFilters(); readAllProcessors()">
                    Reset
                </button>
            </div>
        </div>
    </form>
    <br/>
    <div class="modal-custom" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="mbx-search-delete" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-remove-sign" ng-click="closeDelete()"> </i>
                    </button>
                    <h4 class="modal-title">Confirm Processor Delete</h4>
                </div>
                <div class="modal-body">Do you really want to delete the processor {{key.name}}?</div>
                <div class="modal-footer">
                    <button id="deleteModalDeleteButton" class="btn btn-danger" ng-click="deactivateProcessor()">
                        Delete
                    </button>
                    <button id="deleteModalCancelButton" class="btn btn-primary cancel" ng-click="closeDelete()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Loading image will be shown until grid is loaded -->
    <div class="loadingSpinner" id="loader" ng-cloak ng-hide="gridLoaded">
        <h4>Loading Processors...</h4>
        <img height="96px" src="img/spinner.gif"/>
    </div>
    <div>
        <div class="gridStyle" ng-grid="gridOptionsForGetProcessor" ng-if="gridLoaded"></div>
        <br>
    </div>
</div>