<div class="container fade-in">

	<div class="form-row">
		<h3 id="title" class="ng-binding">Search Processor</h3>
		<hr />		
	</div>
	<form name="formSearchPrcsr" novalidate="" >

			<div class="row">
				<div class="col-md-3">
					<label for="name"> Mailbox Name  </label> 
					<input id="mbxname" type="text" ng-model="mailBoxName"
                                       placeholder="Mailbox Name"                                       
									   typeahead="mbx.mbxName for mbx in getMailboxNames($viewValue) | filter:$viewValue"
									   ng-minLength=5 ng-maxLength=80
                                       class="form-control"
                                       name="mbxname">
					<div ng-show="formSearchPrcsr.mbxname.$dirty && formSearchPrcsr.mbxname.$invalid">
                	<span id="mbx-search-nameInvalid-pattern" class="customHide" ng-class="{ 'help-block-custom' : formSearchPrcsr.mbxname.$error.pattern}" ng-show="formSearchPrcsr.mbxname.$error.pattern">Invalid MailBox Name.</span>
                	<span id="mbx-search-nameInvalid-minlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.mbxname.$error.minlength}" ng-show="formSearchPrcsr.mbxname.$error.minlength">
                	<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{minimumLength}} characters to enable search.</span>
		 			<span id="mbx-search-nameInvalid-maxlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.mbxname.$error.maxlength}" ng-show="formSearchPrcsr.mbxname.$error.maxlength">
					<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Mailbox Name cannot be longer than {{maximumLengthAllowedInTextBox}} characters.</span>
                </div>
				</div>
				<div class="col-md-3">
					<label for="name"> Pipeline ID </label>
					<input id="pipeLineIdInput" type="text" ng-model="processor.pipelineId"                                                                                                                    
                                       class="form-control"
                                       name="pipelineIdInput">	
				</div>
				<div class="col-md-3">
					<label for="name"> Folder Path </label> 
					<input id="folderPathInput" type="text" ng-model="processor.folderPath"                                       
                                       class="form-control"
                                       name="folderPathInput">	
				</div>				
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<label for="name"> Profile </label>					
				<input id="profileInput" type="text" ng-model="processor.profile"
                                       placeholder="Profile"
                                       required typeahead="prof.name for prof in profiles | filter:{name:$viewValue}"                                       
                                       class="form-control"
                                       name="profileInput">
				</div>
				<div class="col-md-3">
					<label for="name"> Protocol </label>
					<select id="protocolInput" ng-disabled="isEdit || isProcessorTypeSweeper || isProcessorTypeHTTPListener || isProcessorTypeFileWriter || isProcessorTypeDropbox" ng-model="processor.protocol" ng-options="protocol.key for protocol in initialProcessorData.supportedProtocols.options" class="form-control">
					<option value="">-- select--</option>
					</select>
				</div>
				<div class="col-md-3">
					<label for="name"> Processor Type </label>
					<select id="processorTypeInput" ng-disabled="isEdit" ng-model="processor.type" ng-options="type.key group by type.type for type in initialProcessorData.supportedProcessors.options | orderBy:'key'" class="form-control">
                    <option value="">-- select--</option>
					</select>
				</div>
				<div class="col-md-3">		
					<label for="name">  </label>
					<br />					
					<button id="filterSearch" class="btn btn-primary" data-toggle="modal">
						Search
					</button>															
					<label for="name">  </label>
					<button id="filterReset" class="btn btn-primary" data-toggle="modal">
						Reset
					</button>
				</div>
			</div>			
	</form>
	<br />
	<div class="modal-custom" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button id="mbx-search-delete" type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="glyphicon glyphicon-remove-sign" ng-click="closeDelete()"> </i>
					</button>
					<h4 class="modal-title">Deactivate</h4>
				</div>
				<div class="modal-body">Do you really want to deactivate {{key.name}}?</div>
				<div class="modal-footer">
					<button id="deleteModalDeleteButton" class="btn btn-primary" ng-click="deactivateProcessor()">Deactivate</button>
					<button id="deleteModalCancelButton" class="btn btn-primary cancel" ng-click="closeDelete()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Loading image will be shown until grid is loaded -->
	<div  class="loadingSpinner"  id="loader" ng-cloak ng-hide="gridLoaded">
        <h4>Loading Processors...</h4>
        <img height="96px" src="img/spinner.gif" />
	</div>
	<div>
		<div class="gridStyle" ng-grid="gridOptionsForGetProcessor" ng-if="gridLoaded"></div>
		<br>
	</div>	
</div>