<div class="container fade-in">

	<div class="form-row">
		<h3 id="title" class="ng-binding">Search Processor</h3>
		<hr />		
	</div>
	<form name="formSearchPrcsr" novalidate="" >

			<div class="row">
				<div class="col-md-2">
					<label for="name"> Mailbox Name  </label> 
					<input id="mbxname" type="text" ng-model="mailBoxName"
                                       placeholder="Mailbox Name"                                       
									   typeahead="mbx.name for mbx in getMailboxNames($viewValue) | filter:$viewValue"
                                       class="form-control textPattern_width_1"
                                       name="mbxname"
									   typeahead-min-length="typeaheadMinLength">
					<div ng-show="formSearchPrcsr.mbxname.$dirty && formSearchPrcsr.mbxname.$invalid">
						<span id="mbx-search-nameInvalid-pattern" class="customHide" ng-class="{ 'help-block-custom' : formSearchPrcsr.mbxname.$error.pattern}" ng-show="formSearchPrcsr.mbxname.$error.pattern">Invalid MailBox Name.</span>
						<span id="mbx-search-nameInvalid-minlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.mbxname.$error.minlength}" ng-show="formSearchPrcsr.mbxname.$error.minlength">
						<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{minimumLength}} characters to enable search.</span>
						<span id="mbx-search-nameInvalid-maxlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.mbxname.$error.maxlength}" ng-show="formSearchPrcsr.mbxname.$error.maxlength">
						<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Mailbox Name cannot be longer than {{typeaheadMaxLength}} characters.</span>
					</div>
				</div>
				<div class="col-md-2">
					<label for="name"> Profile </label>					
				<input id="profilename" type="text" ng-model="profileName"
                                       placeholder="Profile"
                                       required typeahead="prof.name for prof in getProfileNames($viewValue) | filter:$viewValue"
                                       class="form-control textPattern_width_1"
                                       name="profilename"
									   typeahead-min-length="typeaheadMinLength">
					<div ng-show="formSearchPrcsr.profilename.$dirty && formSearchPrcsr.profilename.$invalid">
						<span id="mbx-search-nameInvalid-pattern" class="customHide" ng-class="{ 'help-block-custom' : formSearchPrcsr.profilename.$error.pattern}" ng-show="formSearchPrcsr.profilename.$error.pattern">Invalid Profile Name.</span>
						<span id="mbx-search-nameInvalid-minlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.profilename.$error.minlength}" ng-show="formSearchPrcsr.profilename.$error.minlength">
						<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{typeaheadMinLength}} characters to enable search.</span>
						<span id="mbx-search-nameInvalid-maxlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.profilename.$error.maxlength}" ng-show="formSearchPrcsr.profilename.$error.maxlength">
						<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Mailbox Name cannot be longer than {{typeaheadMaxLength}} characters.</span>
					</div>
				</div>				
				<div class="col-md-2">
					<label for="name"> Folder Path </label> 
					<input id="folderpath" type="text" ng-model="folderPath" ng-pattern="folderPathPattern"                                       
                                       class="form-control textPattern_width_1"
                                       name="folderpath">
					<div ng-show="formSearchPrcsr.folderpath.$dirty && formSearchPrcsr.folderpath.$invalid">
						<span id="mbx-search-nameInvalid-pattern" class="customHide" ng-class="{ 'help-block-custom' : formSearchPrcsr.folderpath.$error.pattern}" ng-show="formSearchPrcsr.folderpath.$error.pattern">Invalid folder path.</span>
					</div>
				</div>
				<div class="col-md-2">
					<label for="name"> Processor Name </label>
					<input id="procname" type="text" ng-model="procName"
									   placeholder="Processor Name"
									   typeahead="proc.name for proc in getProcessorNames($viewValue) | filter:$viewValue"
                                       class="form-control textPattern_width_1"
                                       name="procname"
									   typeahead-min-length="typeaheadMinLength">
					<div ng-show="formSearchPrcsr.procname.$dirty && formSearchPrcsr.procname.$invalid">
						<span id="mbx-search-nameInvalid-pattern" class="customHide" ng-class="{ 'help-block-custom' : formSearchPrcsr.procname.$error.pattern}" ng-show="formSearchPrcsr.procname.$error.pattern">Invalid Processor Name.</span>
						<span id="mbx-search-nameInvalid-minlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.procname.$error.minlength}" ng-show="formSearchPrcsr.procname.$error.minlength">
						<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Requires a minimum of {{minimumLength}} characters to enable search.</span>
						<span id="mbx-search-nameInvalid-maxlength" class="customHide" ng-class="{ 'custom-info-block' : formSearchPrcsr.procname.$error.maxlength}" ng-show="formSearchPrcsr.procname.$error.maxlength">
						<span class="adjustPaddingRight"><img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/></span>Processor Name cannot be longer than {{typeaheadMaxLength}} characters.</span>
					</div>	
				</div>				
				<div class="col-md-2">
					<label for="name"> Processor Type </label>
					<select id="processortype" ng-model="processorType" ng-change="resetProcessorType(processorType)" ng-options="type.key group by type.type for type in initialProcessorData.supportedProcessors.options | orderBy:'key'" class="form-control textPattern_width_1">
                    <option value="">-- select--</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="name"> Protocol </label>
					<select id="protocol" ng-model="protocolName" ng-disabled="isProcessorTypeSweeper || isProcessorTypeHTTPListener || isProcessorTypeFileWriter || isProcessorTypeDropbox" ng-options="protocol.key for protocol in initialProcessorData.supportedProtocols.options" class="form-control button_width">
					<option value="">-- select--</option>
					</select>
				</div>				
			</div>			
			<br />
			<div class="row">
				<div class="col-md-4">
					<label for="name"> Processor Id </label>
					<input id="prcsrguid" type="text" ng-model="prcsrGuid"
                                       class="form-control textPattern_width_2"
                                       name="prcsrguid">	
				</div>				
				<div class="col-md-4">
					<label for="name"> Pipeline Id </label>
					<input id="pipeLine" type="text" ng-model="PrcsrPipelineId"
									   class="form-control textPattern_width_2"
                                       name="pipeline">	
				</div>				
				<div class="col-md-4">
					<label for="name">&nbsp;</label>
					<br />
					<button id="filterSearch" class="btn btn-primary button_width_2" data-toggle="modal" ng-click="readAllProcessors()">
						Search
					</button>									
					<label for="name"> </label>					
					<button id="filterReset" class="btn btn-primary button_width_2" data-toggle="modal" ng-click="clearAllFilters(); readAllProcessors()">
						Reset
					</button>				
				</div>
			</div>				
	</form>
	<br />
	<div class="modal-custom" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button id="mbx-search-delete" type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="glyphicon glyphicon-remove-sign" ng-click="closeDelete()"> </i>
					</button>
					<h4 class="modal-title">Deactivate</h4>
				</div>
				<div class="modal-body">Do you really want to deactivate {{key.name}}?</div>
				<div class="modal-footer">
					<button id="deleteModalDeleteButton" class="btn btn-primary" ng-click="deactivateProcessor()">Deactivate</button>
					<button id="deleteModalCancelButton" class="btn btn-primary cancel" ng-click="closeDelete()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Loading image will be shown until grid is loaded -->
	<div  class="loadingSpinner"  id="loader" ng-cloak ng-hide="gridLoaded">
        <h4>Loading Processors...</h4>
        <img height="96px" src="img/spinner.gif" />
	</div>
	<div>
		<div class="gridStyle" ng-grid="gridOptionsForGetProcessor" ng-if="gridLoaded"></div>
		<br>
	</div>	
</div>