

<div class="modal-header">
  <button id="mbx-procsr-treemodel-closeFile" type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h3>Choose your file</h3>
</div>
<div class="modal-body">
  <div
	  data-angular-treeview="true"
	  data-tree-model="modal.roleList"
	  data-node-id="roleName"
	  data-node-label="roleId"
	  data-node-children="children" ></div>
</div>
<div class="modal-footer">
  <button id="mbx-procsr-treemodel-choose" type="button" class="btn" ng-click="modal.uri=currentNode.roleName;hide()">Choose</button>
</div>