<style>
  .form-row {
	padding-bottom: .5em;
  }
  
  .css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
  }
  
  .css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
  }
  
  .gridStyleIdp {
    border: 1px solid rgb(212,212,212);
    height: 300px;
	width: 1100px;
  }
  
</style>

<div class="container fade-in">
  
  <div class="form-row">
    <h2>
      User Management
    </h2>
    <hr>
  </div>
  
  <form name="formAddAccount" novalidate="" >
  
    <fieldset>
    <legend>Account Information</legend>
    <div class="row">
      <div class="col-md-3">
      
		<div class="form-group">
          <label>
            Account Type
          </label>
          
          <select class="form-control" ng-model="accountType.name" ng-options="e for e in enumAccountType">
          </select>
        </div>
        
		<div class="form-group">
		<label>
            LoginId
          </label>
          
          <input type="text" class="form-control" name="login" ng-model="account.loginId" ng-maxlength=512 required="">
        </div>
        
        <div class="form-group">
        
          <label>
            SMS Number
          </label>
          
          <input type="text" class="form-control" name="sms" ng-model="account.smsNumber" ng-maxlength=512 required="">
        </div>
		
		<div class="form-group">
			  <label>
				Description
			  </label>
			  
			  <textarea class="form-control" ng-model="account.description" rows="4"></textarea> 
		</div>
        
      </div>
      
      <div class="col-md-3 col-md-offset-3">
      
        <div class="form-group">
          <label>
            Status
          </label>
          
          <select class="form-control" ng-model="account.activeState" ng-options="e for e in enumStatus">
          </select>
        </div>
		
		<div class="form-group">
          <label>
            Language
          </label>
          
          <select class="form-control" ng-model="language.name" ng-options="e for e in enumLanguageType">
          </select>
        </div>
		
		<div class="form-group">
        
          <label>
            Crm URI
          </label>
          
          <input type="text" class="form-control" name="crmuri" ng-model="account.crmURI" ng-maxlength=512>
        </div>
        
      </div>
	  
    </div>
    
   </fieldset>
   
   <br>
   
   <fieldset>
		<legend>Locale Information</legend>
		
		<div class="row">
		  <div class="col-md-3">
			
			  <div class="form-group">
				<label>
				Currency Format
				</label>
			  
				<input type="text" class="form-control" name="cf" ng-model="account.currencyFormat" ng-maxlength=512 required="">
			 </div>
			 
			 <div class="form-group">
				<label>
				Number Format
				</label>
			  
				<input type="text" class="form-control" name="nf" ng-model="account.numberFormat" ng-maxlength=512 required="">
			 </div>
		
		  </div>
		  
		  <div class="col-md-3 col-md-offset-3">
			
			  <div class="form-group">
				<label>
				Date Format
				</label>
			  
				<input type="text" class="form-control" name="df" ng-model="account.dateFormat" ng-maxlength=512 required="">
			 </div>
			 
			 <div class="form-group">
				<label>
				Time Zone
				</label>
			  
				<input type="text" class="form-control" name="tz" ng-model="account.timeZone" ng-maxlength=512 required="">
			 </div>
		
		  </div>
		  
		</div>
	</fieldset>
	
	<br>
	
	<fieldset>
	
		<legend>Profile Information</legend>
			<div class="form-group">
			  <div class="gridStyleIdp" ng-grid="gridOptionsForProcessorIdp">
			  </div>
			</div>
	</fieldset>
   
  </form>
  
  <div class="container">  
	<br><br>
	<button class="btn btn-primary" ng-click="saveAccount()" ng-disabled="formAddAccount.$invalid">
	  Save
	</button>
  </div> 
  
 </div>