<div class="container pad-bottom pad-top" fade-in>

    <div class="btn-group pad-bottom">
        <a href="#/" class="btn-default btn btn-lg">
            <span><i class="glyphicon glyphicon-home glyphicon-white"></i>&nbsp;Home</span>
        </a>
    </div>

    <div class="btn-group pad-bottom">
        <button id="mbx-top-navbar-mailbox" class="btn-default btn dropdown-toggle btn-lg" data-toggle="dropdown">Mailbox
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="mbx-top-navbar-addmailbox" ng-href= {{appendQueryParamAddMBox()}}>Add Mailbox</a></li>
            <li><a id="mbx-top-navbar-searchmailbox" onClick="window.location.href='#';window.location.href='#/mailbox/getMailBox';">Search Mailbox</a></li>
            <li><a id="mbx-top-navbar-searchprocessor" onClick="window.location.href='#';window.location.href='#/mailbox/getProcessor';">Search Processor</a></li>
            <li><a id="mbx-top-navbar-executingprocessors" onClick="window.location.href='#';window.location.href='#/mailbox/getexecutingprocessors';">Running Processors</a></li>
        </ul>
    </div>
    
   <!-- <div class="btn-group pad-bottom">
        <a id="mbx-top-navbar-manageprofiles" onClick="window.location.href='#';window.location.href='#/profiles/addProfiles';" class="btn-default btn btn-lg">
            <span>Manage Profiles</span>
        </a>
    </div>
    
    <div class="btn-group pad-bottom">
       <a id="mbx-top-navbar-triggerprofile" onClick="window.location.href='#';window.location.href='#/profiles/trigger?spiie={{';" class="btn-default btn btn-lg">		
            <span>Trigger Profile</span>
        </a>
    </div>
	-->
	
	<div class="btn-group pad-bottom">
        <a id="mbx-top-navbar-manageprofiles" 
			ng-href= {{appendQueryParamManage()}}
			class   = "btn-default btn btn-lg">
            <span>Manage Profiles</span>
        </a>
    </div>
    
    <div class="btn-group pad-bottom">
       <a id="mbx-top-navbar-triggerprofile" 
		ng-href= {{appendQueryParamTrigger()}}
		class="btn-default btn btn-lg">		
            <span>Trigger Profile</span>
        </a>
    </div>
</div>