<style>
    .nested ul li {
    	display: block;
    	position: relative;
    }

    .nested ul li:hover {
    	display: block;
    }
    
    .nested ul li ul {
    	display: none;
    }
    
    .nested ul li:hover ul {
		position: absolute;
		left: 100%;
		top: 0;
		display: block;
    }
    
    .nested ul li:hover li {
    	float: none;
    }
</style>

<div class="container pad-bottom pad-top" fade-in>

    <div class="btn-group pad-bottom">
        <a href="#/" class="btn-default btn btn-lg">
            <span><i class="glyphicon glyphicon-home glyphicon-white"></i>&nbsp;Home</span>
        </a>
    </div>

    <div class="btn-group pad-bottom">
        <button id="mbx-top-navbar-mailbox" class="btn-default btn dropdown-toggle btn-lg" data-toggle="dropdown">Mailbox
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="mbx-top-navbar-addmailbox" ng-href= {{appendPipelineIDAddMBox()}}>Add Mailbox</a></li>
            <li><a id="mbx-top-navbar-searchmailbox" onClick="window.location.href='#';window.location.href='#/mailbox/getMailBox?pipeLineId=GJHGJ678HG';">Search Mailbox</a></li>
        </ul>
    </div>
    
   <!-- <div class="btn-group pad-bottom">
        <a id="mbx-top-navbar-manageprofiles" onClick="window.location.href='#';window.location.href='#/profiles/addProfiles';" class="btn-default btn btn-lg">
            <span>Manage Profiles</span>
        </a>
    </div>
    
    <div class="btn-group pad-bottom">
       <a id="mbx-top-navbar-triggerprofile" onClick="window.location.href='#';window.location.href='#/profiles/trigger?spiie={{';" class="btn-default btn btn-lg">		
            <span>Trigger Profile</span>
        </a>
    </div>
	-->
	
	<div class="btn-group pad-bottom">
        <a id="mbx-top-navbar-manageprofiles" 
			ng-href= {{appendPipelineIDManage()}}
			class   = "btn-default btn btn-lg">
            <span>Manage Profiles</span>
        </a>
    </div>
    
    <div class="btn-group pad-bottom">
       <a id="mbx-top-navbar-triggerprofile" 
		ng-href= {{appendPipelineIDTrigger()}}
		class="btn-default btn btn-lg">		
            <span>Trigger Profile</span>
        </a>
    </div>
</div>