<nav class="navbar navbar-inverse navbar-fixed-top">

    <div id="top-nav" class="navbar-collapse collapse">
	
		<ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
        </ul>
	
        <ul class="nav navbar-nav">
            <li class="dropdown">
			
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Mailbox
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                   <li><a href="#/mailbox/addMailBox">Add Mailbox</a></li>
					<li><a href="#/mailbox/getMailBox">Search Mailbox</a></li>		
                </ul>
            </li>
        </ul>
		
		<ul class="nav navbar-nav">
              <li><a href="#/profiles/addProfiles">Manage Profiles</a></li>
        </ul>

    </div>
</nav>

