<div style="margin-top: 5px;">
    &nbsp;
    <button id="btnShowDetails" tooltip-append-to-body="true" tooltip-placement="right" tooltip="Show Details"
            class="btn btn-default btn-xs" ng-click="openInfoModal(row.entity)">
        <i class="glyphicon glyphicon-info-sign glyphicon-white"></i>
    </button>
    &nbsp;|&nbsp;
    <button id="btnDeactivateFileStatus" tooltip-append-to-body="true" tooltip-placement="right" tooltip="Update"
            class="btn btn-default btn-xs" ng-disabled="(row.entity.status != 'STAGED')" ng-click="openUpdateModal(row.entity)">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
</div>