<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 Liaison Technologies, Inc.
    This software is the confidential and proprietary information of
    Liaison Technologies, Inc. ("Confidential Information").  You shall
    not disclose such Confidential Information and shall use it only in
    accordance with the terms of the license agreement you entered into
    with Liaison Technologies.

-->
<configuration status="DEBUG" packages="com.liaison.commons.audit.log4j2" verbose="false">
  <appenders>
      <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="true">
          <PatternLayout pattern="LOG4J2 BASE: %highlight{%d %c{1.} [%t] %-5level: %msg | %X%x%n%throwable}" />
      </Console>
    <!-- Note, please configure audit-syslog-server in your /etc/hosts -->
    <AuditSyslogAppender name="AuditSysLog"  host="audit-syslog-server" port="514"
            protocol="UDP" appName="Mailbox" includeMDC="true"
            facility="LOCAL0" enterpriseNumber="99999" newLine="true"
            messageId="Audit" id="App" 
            format="AuditStatementRFC5424JSON">
         <filters>
	        <AuditStatementFilter  onMatch="ACCEPT" onMismatch="DENY"/>
    	 </filters>
    </AuditSyslogAppender>

    <File name="FullLogFile" fileName="/opt/liaison/releases/current/tomcat/logs/full.log" append="true"  >
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m + %X %x%n</pattern>
      </PatternLayout>
    </File>

    <File name="FileSyslogLogFile" fileName="/opt/liaison/releases/current/tomcat/logs/filesyslog.log" append="true" >
      
      <AuditStatementRFC5424JSONLayout appName="Mailbox" enterpriseNumber="99999" facility="LOCAL0" id="App" includeMDC="true" messageID="Audit" newline="true" />
         <filters>
	        <AuditStatementFilter  onMatch="ACCEPT" onMismatch="DENY"/>
    	 </filters>
    </File>
    <File name="MBXLogFile" fileName="/opt/liaison/releases/current/tomcat/logs/mbx.log" append="true"  >
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m %marker%n</pattern>
      </PatternLayout>
    </File>
  </appenders>
	<loggers>
		<Logger name="com.liaison.mailbox.metrics.KPI" level="info" additivity="false">
			<AppenderRef ref="MBXLogFile" />
		</Logger>
		<root level="DEBUG">
			<appender-ref ref="FullLogFile" />
			<appender-ref ref="Console" />
			<appender-ref ref="FileSyslogLogFile" />
			<appender-ref ref="AuditSysLog" />
		</root>
	</loggers>
</configuration>
