<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" packages="com.liaison.framework.audit.log4j2" verbose="false">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT" >
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg %throwable{full}%n"/>
    </Console>
    <!-- Note, please configure audit-syslog-server in your /etc/hosts -->
    <AuditSyslogAppender name="AuditSysLog"  host="audit-syslog-server" port="514"
            protocol="UDP" appName="KMS" includeMDC="true"
            facility="LOCAL0" enterpriseNumber="99999" newLine="true"
            messageId="Audit" id="App" 
            format="AuditStatementRFC5424JSON">
         <filters>
	        <AuditStatementFilter  onMatch="ACCEPT" onMismatch="DENY"/>
    	 </filters>
    </AuditSyslogAppender>

    <File name="FullLogFile" fileName="/opt/liaison/releases/current/tomcat/logs/full.log" append="true"  >
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m + %X %x%n</pattern>
      </PatternLayout>
    </File>

    <File name="FileSyslogLogFile" fileName="/opt/liaison/releases/current/tomcat/logs/filesyslog.log" append="true" >
      <AuditStatementRFC5424JSONLayout appName="MBX" enterpriseNumber="99999" facility="LOCAL0" id="App" includeMDC="true" messageID="Audit" newline="true" />
         <filters>
	        <AuditStatementFilter  onMatch="ACCEPT" onMismatch="DENY"/>
    	 </filters>
    </File>
    <File name="MBXLogFile" fileName="/opt/liaison/releases/current/tomcat/logs/mbx.log" append="true"  >
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m %marker%n</pattern>
      </PatternLayout>
    </File>
  </appenders>
	<loggers>
		<Logger name="com.liaison.mailbox.metrics.KPI" level="info" additivity="false">
			<AppenderRef ref="MBXLogFile" />
		</Logger>
		<root level="DEBUG">
			<appender-ref ref="FullLogFile" />
			<appender-ref ref="Console" />
			<appender-ref ref="FileSyslogLogFile" />
			<appender-ref ref="AuditSysLog" />
		</root>
	</loggers>
</configuration>
