<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">

		<div class="container pad-bottom pad-top" fade-in>

			<div class="btn-group pad-bottom">

				<a href="#/" class="btn-inverse btn kms-menu-button"> <span><i
						class="icon-large icon-home icon-white"></i>&nbsp;&nbsp;Home</span>

				</a>

			</div>



			<div class="btn-group pad-bottom">

				<button class="btn-inverse btn dropdown-toggle kms-menu-button"
					data-toggle="dropdown">
					Mailbox <span class="caret"></span>

				</button>

				<ul class="dropdown-menu">
					<li><a href="#/mailbox/addMailBox">Add Mailbox</a></li>
					<li><a href="#/mailbox/getMailBox">Get Mailbox</a></li>
					<li><a href="#/mailbox/reviseMailBox">Revise Mailbox</a></li>
					<li><a href="#/mailbox/deactivateMailBox">Deactivate Mailbox</a></li>
				</ul>

			</div>


			<div class="btn-group nested">

				<button class="btn-inverse btn dropdown-toggle kms-menu-button"
					data-toggle="dropdown">
					Profiles <span class="caret"></span>
				</button>

				<ul class="dropdown-menu">
					<li><a href="#/profiles/listProfiles">List Profiles</a></li>
					<li><a href="#/profiles/addProfiles">Add Profiles</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>