<div class="container fade-in">

		<div class="form-inline">
			<legend>Profile Details</legend>
			<div class="form-row">
				<div class="group">
					<label for="name" class="control-label">Name</label>
					<input type="text" id="name" ng-model="profile.name" required ng-trim="false"/>
				</div>
			</div>
			
			<br/>
			<button class="btn btn-primary" ng-click='insert()'>Add Profile</button>
		
		
			<div>
				<br>
				<legend>List of Profiles</legend>
				<div class="gridStyle" ng-grid="gridOptions"></div>
				<br>
			</div>
		
		</div>

</div>

