<style>
    .infoiconimg {
        height: 15px; width: 15px; overflow: hidden;     
    }
</style>
<div class="container fade-in">
    <div class="form-row">
		<h3 id="title" class="ng-binding">Profiles</h3>
		<hr />
		<br />
	</div>
   <div class="form-inline">
    <div class="form-row">
		<h4>Add Profile</h4>
	</div>
	 <form name="triggerForm" novalidate="">
				
                    <div class="row">
                       <div class="col-md-6">
                          
                            <label for="profilename">Name *</label>
                            <input id="mbx-profile-name" type="text" name="profilename" ng-model="profile.name" required ng-trim="true" ng-pattern="userInputPattern"
                            ng-minLength=5 ng-maxLength=80 class="form-control" />
                            <div  ng-show="triggerForm.profilename.$dirty && triggerForm.profilename.$invalid">
                                <span id="mbx-profile-nameInvalid-pattern" class="help-block-custom" ng-show="triggerForm.profilename.$error.pattern">Invalid Profile Name.</span>
                                <span id="mbx-profile-nameInvalid-required" class="help-block-custom" ng-show="triggerForm.profilename.$error.required">Profile Name is mandatory.</span>
                                <span id="mbx-profile-nameInvalid-minlength" class="custom-info-block" ng-show="triggerForm.profilename.$error.minlength">
                                <img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/>Profile Name cannot be shorter than {{minimumLength}} characters.</span>
                                <span id="mbx-profile-nameInvalid-maxlength" class="custom-info-block" ng-show="triggerForm.profilename.$error.maxlength">
                                <img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/>Profile Name cannot be longer than {{maximumLengthAllowedInTextBox}} characters.</span>
                            </div>
                       </div>
                        <br>
                        <div class = "col-md-6">
                           
                            <div class="row">
                            <button id="submit" ng-disabled="triggerForm.$invalid" class="btn btn-primary" ng-click='insert()'>
                            Add</button>
                             <button id="mbx-profile-cancel" class="btn btn-primary" ng-click="doCancel()">
                            Reset
                            </button>
                            </div>
                        </div>
                    </div>
               

	<br/>
    <div class="form-row">
		<h4>Search Profile</h4>

    </div>
  
        
         <div class="row">
           <div class="col-md-6">
                    <label for="name"> Profile Name </label> 
                    <input type="text" id="profilename" ng-model="profileName" ng-trim="false"
					name="name" ng-pattern="userInputPattern" ng-minLength=5 ng-maxLength=80 class="form-control"/>
					<div ng-show="triggerForm.name.$dirty && triggerForm.name.$invalid">
						<span id="mbx-profile-profilenameInvalid-pattern" class="help-block-custom" ng-show="triggerForm.name.$error.pattern">Invalid Profile Name.</span>
						<span id="mbx-profile-profilenameInvalid-minlength" class="custom-info-block" ng-show="triggerForm.name.$error.minlength">
						<img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/>Requires a minimum of {{minimumLength}} characters to enable search.</span>
						<span id="mbx-profile-profilenameInvalid-maxlength" class="custom-info-block" ng-show="triggerForm.name.$error.maxlength">
						<img class="infoiconimg" ng-src="{{infoIconImgUrl}}"/>Profile Name cannot be longer than {{maximumLengthAllowedInTextBox}} characters.</span>
					</div>
                <progress ng-show=showprogressbar> </progress>
		   </div>
               
         </div>  
 
            <div class = "form-group">
				<br>
                <div class="alert alert-info" ng-show="info">
              		No results found.
                </div>
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
            <br>
              
                 </form>
            </div>
	
     
</div>
